* {
  box-sizing: border-box;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dl,
dd,
dt,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
}
fieldset,
input,
img {
  border: none;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #000000;
  color: inherit;
}
ul,
ol,
dl {
  list-style: none;
}
input,
button {
  outline: none;
  border: none;
}
cite {
  font-style: normal;
}
@function pcPx2rem($px) {
  $rem: 100px;
  @return ($px/$rem) + rem;
}
#login {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  #header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: #0000000d;
    position: relative;
    .head {
      display: flex;
      width: 1200px;
      position: relative;
      .head.img {
        height: 24px;
        width: 108px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .head-txt {
        font-size: 12px;
        color: #333333;
        padding-top: 2px;
        margin-left: 36px;
        position: relative;
        user-select: none;
        &::after {
          content: "";
          display: block;
          height: 20px;
          border-left: 1px solid #333333;
          position: absolute;
          top: 3px;
          left: -16px;
        }
      }
    }
  }
  #huawei-text {
    display: flex;
    background-color: #fff;
    width: 100%;
    .huawei-text-login {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 100px 0 80px 0px;
      font-size: 28px;
      color: #191919;
      font-weight: 500;
    }
  }
  #huawei-main {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
    position: relative;
    .huawei-main-moud {
      width: 1200px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      position: relative;
      margin-bottom: 50px;
      .main-left {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 360px;
        height: 100%;
        position: relative;
        .left-img {
          width: 200px;
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #f7f7f7;
          margin-bottom: 50px;
          opacity: 1;
        }
        .left_title {
          color: #333333;
          user-select: none;
        }
        .left-hint {
          position: absolute;
          width: 100%;
          top: 42px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          display: none;
          p {
            font-size: 20px;
          }
          button {
            width: 120px;
            height: 36px;
            background: #ca141d;
            color: #f2f2f2;
            text-shadow: 0 0 2px;
            border-radius: 8px;
            cursor: pointer;
          }
        }
      }
      .main-center {
        width: 1px;
        height: 100%;
        border-right: 1px solid #999999;
      }
      .main-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 360px;
        form {
          position: relative;
        }
        input {
          width: 100%;
          height: 48px;
          background: #f7f7f7;
          padding: 0px 10px;
          border-radius: 8px;
          border: 1px solid #f7f7f7;
        }
        .psw {
          margin: 26px 0 16px 0;
        }
        .eyeimg {
          width: 24px;
          height: 24px;
          position: absolute;
          right: 14px;
          top: 88px;
          cursor: pointer;
          img {
            width: 24px;
            height: 24px;
          }
        }
        .right-title {
          display: flex;
          justify-content: flex-start;
          width: 100%;
          color: #0064cc;
        }
        .right-btn {
          width: 100%;
          height: 46px;
          background-color: #eba6aa;
          border-radius: 8px;
          font-size: 20px;
          color: #fff;
          margin-top: 40px;
        }
        .right-menu {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 40px 0px 30px 0;
          a {
            padding: 0 15px;
            position: relative;
            color: #0064cc;
            font-size: 12px;
          }
          a:nth-of-type(2) {
            border-right: 1px solid #cccccc;
            border-left: 1px solid #cccccc;
          }
        }
        .right-list {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            img {
              width: 100%;
              height: 100%;
            }
          }
          a:nth-of-type(2) {
            margin: 0 50px;
          }
        }
      }
    }
  }
  #footer {
    width: 100%;
    height: 110px;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    .huawei-footer {
      width: 1200px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      .footer-home {
        em {
          font-style: normal;
        }
        a {
          margin: 0px 10px;
        }
        a:hover {
          border-bottom: 1px solid #000000;
        }
      }
      .footer-cop {
        color: #cccccc;
      }
    }
  }
}
