* {
  box-sizing: border-box;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dl,
dd,
dt,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  background-color: #f9f9f9;
}
fieldset,
input,
img {
  border: none;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #000000;
  color: inherit;
}
ul,
ol,
dl {
  list-style: none;
}
input,
button {
  outline: none;
  border: none;
}
.fcn {
  font-family: \5b8b\4f53;
}
#meticulous {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .wrapper {
    min-width: 1200px;
    height: auto;
    display: flex;
    position: relative;
  }
  // 顶部导航栏
  #nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    position: relative;
    width: 100%;
    background-color: #2e2828;
    .wrapper {
      align-items: center;
      justify-content: space-between;
      // 导航栏左边部分
      .nav-left {
        display: flex;
        .nav-left-ul {
          display: flex;
          justify-content: space-evenly;
          width: 590px;
          li {
            font-size: 12px;
            color: #a4a4a4;
            padding: 0 8px;
            position: relative;
            white-space: nowrap;
            height: 36px;
            display: flex;
            align-items: center;
            &::before {
              content: "";
              width: 1px;
              height: 10px;
              display: block;
              position: absolute;
              left: 0;
              background: #d3d3d3;
            }
            &:hover {
              color: #ca151d;
            }
          }
          li:nth-of-type(1)::before {
            content: "";
            display: block;
            position: absolute;
            background: #2e2828;
          }
          // 隐藏部分 nav-last-li，nav-hide-ul
          .nav-last-li {
            position: relative;
            white-space: nowrap;
            .nav-hide-ul {
              position: absolute;
              top: 36px;
              left: -28px;
              z-index: 10;
              width: 120px;
              background-color: #fff;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              display: none;
              li {
                height: 30px;
                line-height: 30px;
              }
              li:before {
                content: "";
                display: block;
                position: absolute;
                background: #ffffff;
              }
            }
          }
        }
      }
      // 导航栏右边部分
      .nav-right {
        display: flex;
        .nav-right-ul {
          display: flex;
          justify-content: space-evenly;
          width: 280px;
          li {
            font-size: 12px;
            color: #a4a4a4;
            position: relative;
            white-space: nowrap;
            height: 36px;
            display: flex;
            align-items: center;
            a {
              padding: 0 12px;
            }
            &::before {
              content: "";
              width: 1px;
              height: 10px;
              display: block;
              position: absolute;
              left: 0;
              background: #d3d3d3;
            }
            &:hover {
              color: #ca151d;
            }
          }
          li:nth-of-type(1)::before {
            content: "";
            display: block;
            position: absolute;
            background: #2e2828;
          }
          //客服服务 隐藏部分
          .nav-hide-ul {
            position: absolute;
            top: 36px;
            z-index: 10;
            width: 80px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 0 0 15px 15px;
            display: none;
            li {
              height: 30px;
              line-height: 30px;
            }
            li:before {
              content: "";
              display: block;
              position: absolute;
              background: #ffffff;
            }
          }
          // 手机端 隐藏部分
          .nav-phone {
            .nav-hide-sec {
              position: absolute;
              top: 26px;
              left: -284px;
              z-index: 10;
              width: 330px;
              background-color: #fff;
              display: flex;
              flex-direction: column;
              align-items: center;
              display: none;
              border-radius: 0 0 15px 15px;
              .hide-sec-mdu {
                display: flex;
                position: relative;
                justify-content: space-evenly;
                width: 220px;
                padding: 15px 10px 15px 0;
                border-bottom: 1px solid #ccc;
                .left-img {
                  width: 90px;
                  height: 90px;
                  img {
                    width: 90px;
                    height: 90px;
                  }
                }
                .right-txt {
                  display: flex;
                  flex-direction: column;
                  flex-wrap: wrap;
                  justify-content: flex-start;
                  margin-left: 14px;
                  .txt-title {
                    font-size: 16px;
                    color: #020202;
                  }
                  .txt-p {
                    color: #a4a4a4;
                    margin: 0;
                    line-height: 20px;
                  }
                }
              }
            }
            .hide-sec-mdu:nth-of-type(3) {
              border: none;
            }
          }
        }
      }
    }
  }
  // 头部
  #header {
    display: flex;
    height: 60px;
    position: relative;
    background-color: #fff;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    .wrapper {
      height: 100%;
      align-items: center;
      justify-content: space-between;
      .head-left {
        display: flex;
        align-items: center;
        .head-left-img {
          display: flex;
          a {
            width: 205px;
            height: 36px;
            img {
              width: 205px;
              height: 36px;
            }
          }
        }
        .head-right-list {
          display: flex;
          min-width: 600px;
          height: 100%;
          .head-right-list-ul {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            li {
              display: flex;
              cursor: pointer;
              img {
                width: 74px;
                height: 24px;
              }
            }
            li:nth-of-type(1) {
              display: flex;
              height: 60px;
              align-items: center;
              justify-content: center;
              margin: 0 10px;
            }
            li:hover {
              color: #ca141d;
            }
          }
        }
      }
      .head-right {
        display: flex;
        position: relative;
        input {
          border: 0;
          color: #3a3a3a;
          width: 285px;
          text-indent: 15px;
          height: 30px;
          line-height: 30px;
          background: #f0f0f0;
          border-radius: 15px;
        }
        a {
          position: absolute;
          color: #999999;
        }
        a:nth-of-type(1) {
          right: 96px;
          top: 8px;
        }
        a:nth-of-type(2) {
          right: 40px;
          top: 8px;
        }
      }
    }
  }
  // info
  #info {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    .wrapper {
      font-family: \5b8b\4f53;
      color: #bbb;
      a {
        color: #666;
        font-size: 1px;
        font-family: \5fae\8f6f\96c5\9ed1, \5b8b\4f53;
      }
    }
  }
  //  商品详情信息
  #main {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    .wrapper {
      justify-content: space-between;
      //   左侧区域
      .main-left-img {
        width: 450px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;
        .com-img {
          width: 100%;
          height: 450px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .small-list {
          width: 450px;
          height: 72px;
          margin-top: 18px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          .items-list {
            display: flex;
            position: relative;
            width: 350px;
            height: 72px;
            overflow: hidden;
            .img-list {
              display: flex;
              position: relative;
              left: 0px;
              transition: 0.3s;
              li {
                width: 70px;
                height: 70px;
                padding: 0 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(0, 0, 0, 0);
                &:hover {
                  border: 1px solid #ca151d;
                }
                a {
                  padding: 0 3px;
                  img {
                    display: block;
                    width: 60px;
                    height: 60px;
                    margin: 3px 0 0 3px;
                  }
                }
              }
            }
          }
          //   每移动70 换一张图片
          .btn-left,
          .btn-right {
            width: 30px;
            height: 30px;
            background-color: #eaeaea;
            border-radius: 50%;
            font-family: \5b8b\4f53;
            color: #bbb;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            cursor: pointer;
          }
          .btn-left {
            left: 0px;
          }
          .btn-right {
            right: 0px;
          }
        }
        .samll-div {
          width: 225px;
          height: 225px;
          background-color: #fc600c;
          opacity: 0.3;
          position: absolute;
          top: 0px;
          left: 0px;
          cursor: move;
          display: none;
          z-index: 50;
        }
      }
      //   放大镜
      .mian-center-img {
        width: 400px;
        height: 400px;
        position: absolute;
        border: 1px solid #ccc;
        left: 450px;
        overflow: hidden;
        background: #fff;
        display: none;
        img {
          position: absolute;
          left: 0px;
          top: 0px;
        }
      }
      //   右侧区域
      .mian-right-info {
        width: 700px;
        h2 {
          color: #3a3a3a;
          font-size: 21px;
          font-weight: normal;
          margin-bottom: 10px;
        }
        .right-title {
          height: 40px;
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 12px;
          padding-right: 40px;
          span {
            color: #ca141d;
            border-bottom: 1px solid #ca151d;
            margin-right: 10px;
          }
        }
        .right-info {
          background-color: #f5f5f5;
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          width: 700px;
          padding: 5px 0 5px 15px;
          div {
            width: 100%;
          }
          .info1 {
            display: flex;
            align-items: center;
            p {
              margin-right: 20px;
            }
            em {
              font-style: normal;
              font-size: 18px;
              font-weight: 400;
              margin-right: 4px;
              color: #ca141d;
            }
            span {
              color: #ca141d;
              padding-right: 3px;
              font-size: 24px;
            }
          }
          .info2 {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            p {
              margin-right: 20px;
            }
            div {
              width: 100%;
            }
            .info2-right {
              div {
                color: #333333;
                font-size: 10px;
              }
              i {
                line-height: 18px;
                border: 1px solid #ca141d;
                padding: 0 6px;
                min-width: 24px;
                color: #ca141d;
                margin-right: 10px;
                margin-top: 5px;
                font-style: normal;
                line-height: 26px;
                font-size: 10px;
              }
            }
          }
          .info3 {
            display: flex;
            p {
              margin-right: 20px;
            }
            ul {
              display: flex;
              align-items: center;
              li {
                margin-right: 12px;
                color: #333333;
                font-size: 10px;
              }
            }
          }
          .info4 {
            display: flex;
            p {
              margin-right: 20px;
            }
            ul {
              display: flex;
              align-items: center;
              li {
                margin-right: 12px;
                color: #333333;
                font-size: 10px;
              }
            }
          }
          hr {
            width: 100%;
            color: #cccccc;
            margin-left: -10px;
          }
          .info5 {
            display: flex;
            p {
              margin-right: 20px;
            }
            ul {
              display: flex;
              align-items: center;
              li {
                margin-right: 12px;
                border: 1px solid #ca151d;
                padding: 0 12px;
                color: #333333;
                font-size: 10px;
                height: 34px;
                width: 92px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                background: url(../images/ia_100000097.png) no-repeat 0 center;
                background-size: 30px 30px;
              }
            }
          }
          .info6 {
            display: flex;
            p {
              margin-right: 20px;
            }
            ul {
              display: flex;
              align-items: center;
              li {
                margin-right: 12px;
                color: #333333;
                font-size: 10px;
              }
            }
          }
          .info7 {
            display: flex;
            p {
              margin-right: 20px;
            }
            ul {
              display: flex;
              align-items: center;
              li {
                margin-right: 12px;
                color: #333333;
                font-size: 10px;
              }
            }
          }
          .purchase {
            display: flex;
            width: 685px;
            position: relative;
            input {
              width: 42px;
              height: 44px;
              font-size: 16px;
              border: #a4a4a4 1px solid;
              outline: 0;
              text-align: center;
              box-sizing: border-box;
            }
            p {
              position: absolute;
              left: 42px;
              top: -14.5px;
              .add,
              .reduce {
                display: block;
                background-color: #fff;
                width: 21px;
                height: 22px;
                font-size: 16px;
                color: #666666;
                line-height: 22px;
                text-align: center;
                font-weight: bold;
                border: #a4a4a4 1px solid;
                border-left: 0;
                cursor: pointer;
              }
            }
            > .car {
              width: 172px;
              background: #fc600c;
              margin-left: 31px;
              height: 46px;
              font-size: 18px;
              line-height: 46px;
              color: #fff;
              border-radius: 2px;
              border: 0;
              cursor: pointer;
              &:hover {
                opacity: 0.8;
              }
            }
            > .order {
              width: 131px;
              background: #ca151d;
              margin-left: 10px;
              height: 46px;
              font-size: 18px;
              line-height: 46px;
              color: #fff;
              border-radius: 2px;
              border: 0;
              cursor: pointer;
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
  // 底部列表
  #bottom-list {
    display: flex;
    margin-top: 20px;
    .wrapper {
      padding-top: 20px;
      border-top: 1px solid #e5e5e5;
      .left-wrp {
        display: flex;
        flex-wrap: wrap;
        width: 920px;
        justify-content: space-evenly;
        .ullis {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          li:nth-of-type(1) {
            color: #333333;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 7px;
            &:hover {
              color: #333333;
            }
          }
          li {
            font-size: 12px;
            line-height: 24px;
            color: #777;
          }
          li:hover {
            color: #ca141d;
          }
        }
      }
      .right-wrp {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
        h4 {
          font-size: 24px;
          line-height: 36px;
          height: 36px;
        }
        span {
          font-size: 16px;
          color: #777;
          margin-bottom: 10px;
        }
        .btn {
          width: 170px;
          height: 34px;
          border-radius: 20px;
          background-color: rgb(73, 73, 73);
          color: #eaeaea;
          line-height: 34px;
          text-align: center;
          margin-bottom: 15px;
        }
      }
    }
  }
}
