* {
  box-sizing: border-box;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dl,
dd,
dt,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  background-color: #6d8de5;
}
fieldset,
input,
img {
  border: none;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #000000;
}
ul,
ol,
dl {
  list-style: none;
}
input {
  outline: none;
  border: none;
}
.clearfn::afeter {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
cite {
  font-style: normal;
}
@function pcPx2rem($px) {
  $rem: 100px;
  @return ($px/$rem) + rem;
}
#huaWei {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  //   顶部导航栏
  #mian-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106.7%;
    height: 74px;
    position: relative;
    top: 0;
    z-index: 100;
    background-color: #fff;
    border-top: 1px solid #6b8be1;
    box-shadow: 0 0 46px rgba(0, 0, 0, 0.03);
    // logo 部分
    .left-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 74px;
      .log {
        display: flex;
        width: 270px;
        height: 36px;
        a {
          display: flex;
          img {
            height: 36px;
          }
        }
        a:nth-of-type(1) {
          em {
            width: 1px;
            height: 18px;
            margin: 9px 8px;
            background: #030000;
          }
        }
      }
      // 头部导航部分
      .nav-list {
        display: flex;
        max-width: 560px;
        height: 100%;
        overflow: hidden;
        .nav-list-ul {
          display: flex;
          width: 450px;
          height: 100%;
          justify-content: space-between;
          align-items: center;
          li {
            display: flex;
            border-bottom: 1px solid #fff;
            height: 40px;
            a {
              display: flex;
              align-items: center;
              color: inherit;
              span {
                display: flex;
                align-items: center;
              }
            }
          }
          .navShow {
            color: #ca1c1d;
            border-bottom: 1px solid #ca1c1d;
          }
        }
      }
    }
    // 搜索表单
    .right-nav {
      display: flex;
      margin-left: 200px;
      .right-nav-form {
        position: relative;
        line-height: 1;
        width: 318px;
        height: 28px;
        background: #f0f0f0;
        border: 1px solid #f0f0f0;
        border-radius: 15px;
        &::after {
          content: "";
          display: block;
          background: url(../images/icon-banner.png) no-repeat;
          background-position: -160px 1px;
          width: 20px;
          height: 20px;
          position: absolute;
          top: 4px;
          right: 12px;
        }
        &:hover {
          border: 1px solid #cccccc;
        }
        [type="text"] {
          border: 0;
          color: #3a3a3a;
          width: 285px;
          text-indent: 15px;
          height: 30px;
          line-height: 30px;
          background: transparent;
        }
        [type="submit"] {
          width: 35px;
          height: 30px;
          cursor: pointer;
          border: 0;
          overflow: hidden;
          position: absolute;
          padding-right: 10px;
          right: 0;
          top: 0;
          color: #353535;
          font-size: 0;
          z-index: 10;
          background: transparent;
        }
        .list-group {
          width: 100%;
          z-index: 999;
          position: absolute;
          height: auto;
          max-height: 240px;
          overflow: hidden;
          background-color: #f2f2f2;
          display: none;
          border-radius: 15px;
          .list-group-item {
            font-size: 16px;
            line-height: 30px;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            color: #999999;
            cursor: pointer;
            &:hover {
              background-color: #797979;
            }
          }
        }
      }
      .from-text {
        position: absolute;
        a {
          font-size: 14px;
          z-index: 333;
          position: absolute;
          width: 157px;
          color: #cccccc;
        }
        a:hover {
          color: black;
        }
        a:nth-of-type(1) {
          top: 5px;
          left: 34px;
        }
        a:nth-of-type(2) {
          top: 5px;
          left: 140px;
        }
      }
    }
    // 隐藏部分
    .nav-hide {
      z-index: 999;
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 73px;
      width: 100%;
      height: auto;
      background-color: #fff;
      overflow: hidden;
      border-top: 1px solid #ebebeb;
      box-shadow: 0 3px 3px 0 rgba(121, 121, 121, 0.26);
      // display: none;
      // background: #fff;
      .nav-hide-as {
        display: flex;
        flex-direction: column;
        width: 100%;
        display: none;
        transition: 2s;
        .nav-hide-as-title {
          display: flex;
          justify-content: center;
          height: 40px;
          ul {
            display: flex;
            height: 100%;
            width: 1200px;
            justify-content: flex-start;
            background-color: #fff;
            li {
              display: flex;
              height: 100%;
              a {
                display: flex;
                align-items: center;
                color: #999999;
                padding: 0 15px;
                height: 100%;
                &:hover {
                  color: #ca141d;
                }
              }
            }
          }
        }
        .nav-hide-as-img {
          display: flex;
          justify-content: center;
          width: 100%;
          ul {
            display: flex;
            height: 100%;
            width: 1200px;
            justify-content: flex-start;
            background-color: #fff;
            flex-wrap: wrap;
            align-items: center;
            li {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              width: 200px;
              height: 210px;
              a {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                margin: 15px 15px;
                img {
                  width: 150px;
                  height: 150px;
                }
                span {
                  display: flex;
                }
                .nav-hide-money {
                  color: #ca141d;
                }
                &:hover {
                  color: #ca141d;
                }
              }
            }
            li:after {
              content: "";
              flex: 1;
            }
          }
        }
      }
    }
  }

  //   轮播图
  #banner {
    display: flex;
    align-items: center;
    position: relative;
    width: 1920px;
    height: 600px;
    top: 0px;
    left: 0px;
    overflow: hidden;
    .banner-images {
      position: absolute;
      width: 800%;
      height: 100%;
      z-index: 1;
      display: flex;
      box-sizing: content-box;
      li {
        width: 100%;
        height: 100%;
        float: left;
        a {
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          img {
            height: 100%;
          }
        }
      }
    }
    // 底部按钮
    .banner-buttom {
      position: absolute;
      bottom: 10px;
      z-index: 333;
      height: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 100%;
        background: #000;
        opacity: 0.3;
        margin: 0px 5px;
        cursor: pointer;
      }
      .ol-active {
        border: 2px solid #888888;
        background-color: #cccccc;
        box-shadow: 10px 10px 5px #888888;
      }
    }
  }
  //   固定导航栏
  #flex-nav {
    display: flex;
    position: relative;
    width: 100%;
    height: 60px;
    top: 0;
    background-color: #455ba4;
    justify-content: center;
    z-index: 555;
    .sec-ul-nav {
      width: 1200px;
      height: 60px;
      line-height: 60px;
      position: absolute;
      display: flex;
      li {
        margin: 0 15px;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #eccfd0;
          width: 100%;
          height: 100%;
          font: 22px/60px "Helvetica Neue", "微软雅黑";
          text-shadow: 0px 0px 3px rgb(33, 37, 94);
        }
      }
    }
  }
  //   双11活动1 图模块
  #discounts-img {
    position: relative;
    z-index: 1;
    width: 1600px;
    overflow: hidden;
    text-align: center;
    display: flex;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  //   双11优惠2 图模块
  #discounts-img2 {
    position: relative;
    z-index: 1;
    width: 1700px;
    overflow: hidden;
    text-align: center;
    display: flex;
    img {
      width: 100%;
      height: 100%;
    }
    a {
      position: absolute;
      z-index: 2;
    }
    a:nth-of-type(1) {
      width: 200px;
      height: 180px;
      top: 25px;
      left: 330px;
    }
    a:nth-of-type(2) {
      width: 200px;
      height: 180px;
      top: 25px;
      left: 592px;
    }
    a:nth-of-type(3) {
      width: 200px;
      height: 180px;
      top: 25px;
      left: 832px;
    }
    a:nth-of-type(4) {
      width: 200px;
      height: 180px;
      top: 25px;
      left: 1056px;
    }
    a:nth-of-type(5) {
      width: 100px;
      height: 180px;
      top: 25px;
      left: 1276px;
    }
  }
  //   必买榜单 图模块
  #discounts-img3 {
    position: relative;
    z-index: 1;
    width: 1600px;
    overflow: hidden;
    text-align: center;
    display: flex;
    img {
      width: 100%;
      height: 100%;
    }
  }
  //   展示商品区  JSON数据
  #shop-hot1 {
    display: flex;
    align-self: center;
    .hot1-list {
      width: 1190px;
      margin-right: -10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #fff;
        height: 460px;
        width: 290px;
        margin-bottom: 10px;
        a {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;
          .pic {
            width: 290px;
            height: 290px;
            margin: 0px;
            display: flex;
            background-color: #ebeef3;
            img {
              width: 100%;
            }
          }
          .title {
            font-size: 22px;
            height: 30px;
            line-height: 30px;
            margin: 24px 15px 0 15px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .desc {
            font-size: 16px;
            height: 22px;
            line-height: 22px;
            margin: 5px 15px 0 15px;
            color: #666;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .price {
            background-color: #3a3a3a;
            cursor: pointer;
            width: 110px;
            height: 36px;
            padding: 0px 10px;
            border-radius: 20px;
            text-align: center;
            span {
              line-height: 36px;
              font-size: 17px;
              font-weight: 600;
              color: #fff;
            }
          }
          .sale {
            position: absolute;
            left: 0px;
            top: 245px;
            background-color: #e16773;
            height: 28px;
            line-height: 28px;
            font-size: 16px;
            color: #fff;
            border-radius: 14px 14px 14px 0;
            padding: 0px 15px 0px 10px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
  //   手机banner模块区1
  #phone-module {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    display: flex;
    width: 1750px;
    img {
      width: 1750px;
    }
  }
  //   换新专区 图模块
  #discounts-img4 {
    position: relative;
    z-index: 1;
    width: 1600px;
    overflow: hidden;
    text-align: center;
    display: flex;
    img {
      width: 100%;
      height: 100%;
    }
  }
  //   手机banner模块区2
  #phone-module2 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    display: flex;
    width: 1750px;
    img {
      width: 1750px;
    }
  }
  //   爆款榜单 图模块
  #discounts-img5 {
    position: relative;
    z-index: 1;
    width: 1600px;
    overflow: hidden;
    text-align: center;
    display: flex;
    img {
      width: 100%;
      height: 100%;
    }
  }
  // 商品展示区2  JSON数据
  #shop-hot2 {
    display: flex;
    align-self: center;
    .hot2-list {
      width: 1190px;
      margin-right: -10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #fff;
        height: 460px;
        width: 290px;
        margin-bottom: 10px;
        a {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;
          .pic {
            width: 290px;
            height: 290px;
            margin: 0px;
            display: flex;
            background-color: #ebeef3;
            img {
              width: 100%;
            }
          }
          .title {
            font-size: 22px;
            height: 30px;
            line-height: 30px;
            margin: 24px 15px 0 15px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .desc {
            font-size: 16px;
            height: 22px;
            line-height: 22px;
            margin: 5px 15px 0 15px;
            color: #666;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .price {
            background-color: #3a3a3a;
            cursor: pointer;
            width: 110px;
            height: 36px;
            padding: 0px 10px;
            border-radius: 20px;
            text-align: center;
            span {
              line-height: 36px;
              font-size: 17px;
              font-weight: 600;
              color: #fff;
            }
          }
          .sale {
            position: absolute;
            left: 0px;
            top: 245px;
            background-color: #e16773;
            height: 28px;
            line-height: 28px;
            font-size: 16px;
            color: #fff;
            border-radius: 14px 14px 14px 0;
            padding: 0px 15px 0px 10px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
  //   手机banner模块区2
  #phone-module3 {
    position: relative;
    z-index: 1;
    width: 1200px;
    height: 330px;
    overflow: hidden;
    display: flex;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  // 手机专区 图模块
  #discounts-img6 {
    position: relative;
    z-index: 1;
    width: 1600px;
    overflow: hidden;
    text-align: center;
    display: flex;
    img {
      width: 100%;
      height: 100%;
    }
  }
  // 商品展示区3  JSON数据
  #shop-hot3 {
    display: flex;
    align-self: center;
    .hot3-list {
      width: 1190px;
      margin-right: -10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #fff;
        height: 460px;
        width: 290px;
        margin-bottom: 10px;
        a {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;
          .pic {
            width: 290px;
            height: 290px;
            margin: 0px;
            display: flex;
            background-color: #ebeef3;
            img {
              width: 100%;
            }
          }
          .title {
            font-size: 22px;
            height: 30px;
            line-height: 30px;
            margin: 24px 15px 0 15px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .desc {
            font-size: 16px;
            height: 22px;
            line-height: 22px;
            margin: 5px 15px 0 15px;
            color: #666;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .price {
            background-color: #3a3a3a;
            cursor: pointer;
            width: 110px;
            height: 36px;
            padding: 0px 10px;
            border-radius: 20px;
            text-align: center;
            span {
              line-height: 36px;
              font-size: 17px;
              font-weight: 600;
              color: #fff;
            }
          }
          .sale {
            position: absolute;
            left: 0px;
            top: 245px;
            background-color: #e16773;
            height: 28px;
            line-height: 28px;
            font-size: 16px;
            color: #fff;
            border-radius: 14px 14px 14px 0;
            padding: 0px 15px 0px 10px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
  // 屏蔽本|平板 图模块
  #discounts-img7 {
    position: relative;
    z-index: 1;
    width: 1600px;
    overflow: hidden;
    text-align: center;
    display: flex;
    img {
      width: 100%;
      height: 100%;
    }
  }
  // 商品展示区4  JSON数据
  #shop-hot4 {
    display: flex;
    align-self: center;
    .hot4-list {
      width: 1190px;
      margin-right: -10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #fff;
        height: 460px;
        width: 290px;
        margin-bottom: 10px;
        a {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;
          .pic {
            width: 290px;
            height: 290px;
            margin: 0px;
            display: flex;
            background-color: #ebeef3;
            img {
              width: 100%;
            }
          }
          .title {
            font-size: 22px;
            height: 30px;
            line-height: 30px;
            margin: 24px 15px 0 15px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .desc {
            font-size: 16px;
            height: 22px;
            line-height: 22px;
            margin: 5px 15px 0 15px;
            color: #666;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .price {
            background-color: #3a3a3a;
            cursor: pointer;
            width: 110px;
            height: 36px;
            padding: 0px 10px;
            border-radius: 20px;
            text-align: center;
            span {
              line-height: 36px;
              font-size: 17px;
              font-weight: 600;
              color: #fff;
            }
          }
          .sale {
            position: absolute;
            left: 0px;
            top: 245px;
            background-color: #e16773;
            height: 28px;
            line-height: 28px;
            font-size: 16px;
            color: #fff;
            border-radius: 14px 14px 14px 0;
            padding: 0px 15px 0px 10px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
  // 智能穿戴 图模块
  #discounts-img8 {
    position: relative;
    z-index: 1;
    width: 1600px;
    overflow: hidden;
    text-align: center;
    display: flex;
    img {
      width: 100%;
      height: 100%;
    }
  }
  // 商品展示区5 JSON数据
  #shop-hot5 {
    display: flex;
    align-self: center;
    .hot5-list {
      width: 1190px;
      margin-right: -10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #fff;
        height: 460px;
        width: 290px;
        margin-bottom: 10px;
        a {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;
          .pic {
            width: 290px;
            height: 290px;
            margin: 0px;
            display: flex;
            background-color: #ebeef3;
            img {
              width: 100%;
            }
          }
          .title {
            font-size: 22px;
            height: 30px;
            line-height: 30px;
            margin: 24px 15px 0 15px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .desc {
            font-size: 16px;
            height: 22px;
            line-height: 22px;
            margin: 5px 15px 0 15px;
            color: #666;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .price {
            background-color: #3a3a3a;
            cursor: pointer;
            width: 110px;
            height: 36px;
            padding: 0px 10px;
            border-radius: 20px;
            text-align: center;
            span {
              line-height: 36px;
              font-size: 17px;
              font-weight: 600;
              color: #fff;
            }
          }
          .sale {
            position: absolute;
            left: 0px;
            top: 245px;
            background-color: #e16773;
            height: 28px;
            line-height: 28px;
            font-size: 16px;
            color: #fff;
            border-radius: 14px 14px 14px 0;
            padding: 0px 15px 0px 10px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
  // 更多品类 图模块
  #discounts-img9 {
    position: relative;
    z-index: 1;
    width: 1600px;
    overflow: hidden;
    text-align: center;
    display: flex;
    img {
      width: 100%;
      height: 100%;
    }
  }
  // 商品展示区6 横向展示 JSON数据
  #shop-hot6 {
    display: flex;
    align-self: center;
    width: 1200px;
    height: 278px;
    position: relative;
    overflow: hidden;
    .hot6-list {
      position: relative;
      left: 0;
      width: 100%;
      height: 100%;
      margin-right: -10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        flex-shrink: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        background-color: #fff;
        height: 266px;
        width: 240px;
        margin-top: 10px;
        border-right: 1px solid #cccccc;
        transition: all 0.2s;
        a {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;
          text-align: center;
          .pic {
            width: 120px;
            height: 120px;
            display: flex;
            margin: 36px auto 0;
            img {
              width: 100%;
              height: 100%;
              text-align: center;
            }
          }
          .title {
            width: 100%;
            font-size: 12px;
            margin: 14px 20px 0px;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #3a3a3a;
          }
          .desc {
            font-size: 12px;
            font-weight: 400;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #a4a4a4;
            margin: 0 20px 0;
            line-height: 18px;
          }
          .price {
            cursor: pointer;
            width: 110px;
            height: 40px;
            text-align: center;
            margin: 0;
            span {
              line-height: 40px;
              font-size: 14px;
              font-weight: 400;
              color: #f86471;
            }
          }
          .sale {
            position: absolute;
            left: 0px;
            top: 245px;
            background-color: #e16773;
            height: 28px;
            line-height: 28px;
            font-size: 16px;
            color: #fff;
            padding: 0px 15px 0px 10px;
            text-align: center;
          }
        }
      }
      li:hover {
        margin-top: 0px;
        text-shadow: 0px 0px 2px;
      }
    }
    // 左侧按钮
    .left-btn {
      background: rgba(204, 204, 204, 0.9);
      cursor: pointer;
      height: 75px;
      left: 0;
      margin-top: -38px;
      width: 22px;
      position: absolute;
      top: 50%;
      z-index: 3;
      &::before {
        content: "<";
        line-height: 20px;
        color: #f2f2f2;
        text-align: center;
        position: absolute;
        top: 38%;
        left: 0;
        height: 20px;
        width: 20px;
      }
      &:hover {
        background: #999999;
      }
    }
    // 右侧按钮
    .right-btn {
      background: rgba(204, 204, 204, 0.9);
      cursor: pointer;
      height: 75px;
      right: 0;
      margin-top: -38px;
      width: 22px;
      position: absolute;
      top: 50%;
      z-index: 3;
      &::before {
        content: ">";
        color: #f2f2f2;
        line-height: 20px;
        text-align: center;
        position: absolute;
        top: 38%;
        right: 0;
        height: 20px;
        width: 20px;
      }
      &:hover {
        background: #999999;
      }
    }
  }
  //  更多会场 图模块
  #discounts-img10 {
    position: relative;
    z-index: 1;
    width: 1200px;
    height: 155px;
    overflow: hidden;
    text-align: center;
    display: flex;
    margin: 10px 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  //  临时秒杀 图模块
  #discounts-img11 {
    position: relative;
    z-index: 1;
    width: 1200px;
    height: 270px;
    overflow: hidden;
    display: flex;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  //  扫码 图模块
  #discounts-img12 {
    position: relative;
    z-index: 1;
    width: 1200px;
    height: 330px;
    margin: 10px 0;
    overflow: hidden;
    display: flex;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  //  翻牌抽奖 图模块
  #discounts-img13 {
    position: relative;
    z-index: 1;
    width: 1600px;
    overflow: hidden;
    text-align: center;
    display: flex;
    img {
      width: 100%;
      height: 100%;
    }
  }
  // 翻牌抽奖
  #draw {
    position: relative;
    width: 1200px;
    height: 508px;
    display: grid;
    grid-template-columns: 715px 438.5px;
    grid-template-rows: 508px 420px;
    grid-column-gap: 23px;
    margin-bottom: 20px;
    .moduleLeft {
      position: relative;
      display: grid;
      grid-template-areas:
        "a a a"
        "b b b"
        "c c c";
      justify-items: center;
      align-items: center;
      overflow: hidden;
      .board {
        width: 220px;
        height: 160px;
        background-color: #fff;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          transition: 1s;
          cursor: pointer;
          background: rgba(0, 0, 0, 0);
          backface-visibility: hidden;
          position: absolute;
        }
        img:nth-of-type(2) {
          transform: rotateY(-180deg);
        }
      }
      .contentBoard {
        width: 144px;
        height: 144px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .moduleRight {
      position: relative;
      display: grid;
      justify-items: center;
      align-items: center;
      background: url(../images/ia_500000169.png) no-repeat;
      .contentText {
        position: absolute;
        left: 44px;
        top: 80px;
        width: 267px;
        height: 140px;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        color: #908c8a;
        letter-spacing: 0;
        text-align: justify;
        line-height: 1.7;
      }
      p {
        width: 100%;
        position: absolute;
        left: 0;
        top: 200px;
        left: 44px;
        color: red;
      }
      marquee {
        position: absolute;
        height: 145px;
        width: 100%;
        left: 88px;
        top: 326px;
        ul {
          color: #3d3d3d;
          li {
            margin-bottom: 5px;
            color: inherit;
          }
        }
      }
    }
  }
  // 售后 图模块
  #discounts-img11 {
    position: relative;
    z-index: 1;
    width: 1200px;
    height: 291px;
    overflow: hidden;
    display: flex;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  // 返回顶部
  #backtop {
    width: 100%;
    height: 130px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    z-index: 333;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    .backtopTitle {
      width: 198px;
      height: 50px;
      background: #455ba4;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      cursor: pointer;
      user-select: none;
    }
    .backtopCenter {
      margin: 0px 150px;
    }
    .backtopBtn {
      width: 198px;
      height: 50px;
      background: #455ba4;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      cursor: pointer;
      user-select: none;
    }
  }
  // 通告
  #annunciate {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    z-index: 333;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    .backtopTitle {
      font-size: 22px;
      font-weight: 500;
      color: #fff;
    }
  }
}
